* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  box-sizing: content-box;
  max-width: 960px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9em;
  background: #808080;
  display: grid;
  grid-template-areas: "header"
                       "home"
                       "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 80px 
                      1fr
                      30px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
    margin-bottom: .3em;
    color: darkblue;
}

ul {
  list-style: none;
  margin-top: .5em;
}

img {
  width: 100%;
  display: block;
}

p {
  margin-bottom: 1rem;
}

.home {
  grid-area: home;
  display: grid;
  grid-template-areas: "featured main";
  grid-template-columns: 1fr 3fr ;
  grid-template-rows: 1fr;
}

.full {
  grid-area: home;
  background: white;
  display: grid;
  grid-template-areas: "main";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.header { 
  grid-area: header;
  background: rgb(2,0,36);
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(52,58,64,1) 62%, rgba(195,195,193,1) 100%);
  display: flex;
}

.header-content {
  width: 100%;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  margin: 1.5rem 0 0 2rem;
}

.nav-logo {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  flex-basis: 50%;
  font-size: .9rem;
}

.nav a {
  text-decoration: none;
}

.nav a:link {
  color: #fff;
}

.nav a:visited {
  color: #fff;
}

.nav a:hover {
  color: #fff;
  text-decoration: underline;
}

.nav a:active {
  color: #fff;
  text-decoration: underline;
}

.nav-title {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
}

.nav ul {
  display: flex;
  margin: 0 2rem 0 0;
  justify-content: flex-end;
}

.nav ul li {
  margin-left: 1rem;
  white-space: nowrap;
}

.footer { 
  grid-area: footer;
  background: rgb(2,0,36);
  background: linear-gradient(236deg, rgba(2,0,36,1) 0%, rgba(52,58,64,1) 62%, rgba(195,195,193,1) 100%);
  text-align: center;
  padding-top: .2em;
  color: lightyellow;
}

.main { 
  grid-area: main;
  padding: 3em;
  background: #eee;
  min-width: 400px;
}

.full .main {
  margin: auto;
}

.right, .left { 
  grid-area: featured;
  border-left: 1px solid #d8d8d8;
  padding: .25rem .8rem 0 .8rem;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right h3 { 
  margin: 0 0 .5rem 0;
}

.right ul li {
  margin-bottom: .75rem;
}

.left h3 { 
  margin: 0 0 .5rem 0;
}

.left ul li {
  margin-bottom: .75rem;
}

.blog-subtitle, .blog-more {
  font-size: .8rem
}

.blog-date {
  margin: .5rem 0 .4rem 0;
  font-size: .7rem;
  color: #8087a1
}



aside li {
  padding: 0 0 .75rem 0;
}

aside img {
  border: 1px solid #bdbdbb;
}


aside a {
  text-decoration: none;
}

aside a:link {
  color: #483729;
}

aside a:visited {
  color: #483729;
}

aside a:hover {
  color: #483729;
  text-decoration: underline;
}

aside a:active {
  color: #483729;
  text-decoration: underline;
}



/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* ---------------------------------------------- */

@media screen and (max-width: 768px) {
  .nav-title {
      font-size: 1.5rem;
      margin: 0 0 .3rem 0;
  }

  .nav-wrapper {
      flex-direction: column;
  }
  
  .nav ul {
      justify-content: center;
      margin: 0 0 .2rem 0;
  }
  
  .nav ul li {
      margin: 0 .75rem 0 .5em;
      white-space: nowrap;
      font-size: .8rem;
  }

  .home {
      grid-template-areas: "featured" "main";
      grid-template-columns: 100%;
      grid-template-rows: auto 
                          auto;
  }

  .right {
      border: 0;
  }

  .right h3 {
      text-align: center;
  }
  
  .feature {
      width: 50%;
      margin: 0 auto 1em auto;
  }

  .game-detail-wrapper {
      flex-direction: column;
  }

  .game-detail-image-wrapper {
      order: 0;
      margin: 0 0 1rem 0;
      width: 75%;
      align-self: center;
  }

  .show-wrapper {
      order: 1;
  }

  .course-listing-item {
      min-width: 75%;
  }
  
  .header {
      border: 0;
  }

  .main {
      border: 0;
  }

  .footer {
      border: 0;
  }

}

@media screen and (max-width: 420px) {
  body {
      grid-template-rows: auto 
                          1fr
                          30px;
  }
  .nav ul {
      flex-direction: column;
  }

  .nav-wrapper {
      align-items: flex-start;
  }
  
  .nav-title {
      margin: 0 0 0 8px;
  }
}

